#slide-content {
  --tw-bg-opacity: 1;
  background-color: rgba(245,243,255,var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(76,29,149,var(--tw-text-opacity));
  overflow: hidden;
  position: relative;
  position: absolute;
  left: 50%;
  top: 50%;
}
